body {
	
	margin: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.formatList {
	list-style-type: none;
}

hgroup>ol>ul {
	font-size: 0.9em;
}
hgroup>ol {
	font-size: 1.1em;
	margin-bottom: 2px;
}
article h3 {
	
	font-size: 1.4em;

}
article p {
	text-indent: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: darkgreen;
}
a:hover {
	text-decoration: underline;
	color: blue;
}
a:visited {
	color: purple;
}


hr {
	width: 95%;
	clear: both;
}




/*font-family*/
p.arial {
	font-family: Arial;
}

p.times {
	font-family: Times;
}

p.georgia {
	font-family: Georgia;
}

p.constantia {
	font-family: Constantia, Sans-serif;
}

/*font-size*/

p.em1 {
	font-size: 1em;
}
p.em1-3 {
	font-size: 1.3em;
}
p.percent {
	font-size: 110%;
}
p.pixel {
	font-size: 14px;
}
p.smaller {
	font-size: smaller;
}
p.small {
	font-size:small;
}
p.medium {
	font-size:medium;
}
p.large {
	font-size:large;
}
p.larger {
	font-size:larger;
}
p.x-large {
	font-size:x-large;
}
p.xx-large {
	font-size:xx-large;
}

/*font-weight*/
p.normal {
	font-weight:normal;
}
p.lighter {
font-weight:lighter;
}
p.bold {
	font-weight:bold;
}
p.bolder {
	font-weight:bolder;
}
p.hund {
	font-weight:100;
}
p.ninehund {
	font-weight:900;
}

/*font-style*/
p.fs-normal {
	font-style:normal;
}
p.fs-italic {
	font-style:italic;
}
p.fs-oblique {
font-style:oblique;
}

/*font-variant*/
p.fv-normal {
	font-variant: normal;
}
p.fv-smc {
	font-variant: small-caps;
}

/*letter-spacing*/
p.ls-normal {
	letter-spacing: normal;
}
p.ls-em-2 {
	letter-spacing: .2em;
}

/*word-spacing*/
p.ws-normal {
	word-spacing: normal;
}
span.ws-em-5 {
	word-spacing: .5em;
}

/*line-height*/
p.lh-normal {
	line-height: normal;
}
p.lh-em2 {
	line-height: 2em;
}

/*text-transform*/
p.tt-cptlz {
	text-transform: capitalize;
}
p.tt-upcs {
	text-transform: uppercase;
}
p.tt-lwcs {
	text-transform: lowercase;
}