body {
	
	margin: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.uList {
	list-style-type: none;
}

hgroup>ol>ul {
	font-size: 0.9em;
	line-height: 1.5em;
}
hgroup>ol {
	font-size: 1.3em;
	line-height: 1.5em;
}
ol.nHeads>li>a:link {
	color: darkred;
}
h1 {
	font-size: 2em;
}
section {
	margin-top: 50px;
	margin-left: 20px;
}
section h1 {
	text-decoration: underline;
}
article {
	margin-left: 20px;
}
article h3 {
	margin-top: 25px;
	font-size: 1.5em;

}
article p {
	text-indent: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: darkgreen;
}
a:hover {
	text-decoration: underline;
	color: blue;
}
a:visited {
	color: purple;
}


hr {
	width: 97%;
	clear: both;
}




/*font-family*/
p.arial {
	font-family: Arial;
}

p.times {
	font-family: Times;
}

p.georgia {
	font-family: Georgia;
}

p.constantia {
	font-family: Constantia, Sans-serif;
}

/*font-size*/

p.em1 {
	font-size: 1em;
}
p.em1-3 {
	font-size: 1.3em;
}
p.percent {
	font-size: 110%;
}
p.pixel {
	font-size: 14px;
}
p.smaller {
	font-size: smaller;
}
p.small {
	font-size:small;
}
p.medium {
	font-size:medium;
}
p.large {
	font-size:large;
}
p.larger {
	font-size:larger;
}
p.x-large {
	font-size:x-large;
}
p.xx-large {
	font-size:xx-large;
}

/*font-weight*/
p.normal {
	font-weight:normal;
}
p.lighter {
font-weight:lighter;
}
p.bold {
	font-weight:bold;
}
p.bolder {
	font-weight:bolder;
}
p.hund {
	font-weight:100;
}
p.ninehund {
	font-weight:900;
}

/*font-style*/
p.fs-normal {
	font-style:normal;
}
p.fs-italic {
	font-style:italic;
}
p.fs-oblique {
font-style:oblique;
}

/*font-variant*/
p.fv-normal {
	font-variant: normal;
}
p.fv-smc {
	font-variant: small-caps;
}

/*letter-spacing*/
p.ls-normal {
	letter-spacing: normal;
}
p.ls-em-2 {
	letter-spacing: .2em;
}

/*word-spacing*/
p.ws-normal {
	word-spacing: normal;
}
span.ws-em-5 {
	word-spacing: .5em;
}

/*line-height*/
p.lh-normal {
	line-height: normal;
}
p.lh-em2 {
	line-height: 2em;
}

/*text-transform*/
p.tt-cptlz {
	text-transform: capitalize;
}
p.tt-upcs {
	text-transform: uppercase;
}
p.tt-lwcs {
	text-transform: lowercase;
}

/*text-align*/
p.ta-left {
	text-align: left;
}
p.ta-center {
	text-align: center;
}
p.ta-right {
	text-align: right;
}

/*vertical-align*/
span.va-top {
	vertical-align: top;
}
span.va-middle {
	vertical-align: middle;
}
span.va-bottom {
	vertical-align: bottom;
}
span.va-super {
	vertical-align: super;
}
span.va-sub {
	vertical-align: sub;
}
span.va-baseline {
	vertical-align: baseline;
}
span.va-ttop {
	vertical-align: text-top;
}
span.va-tbottom {
	vertical-align: text-bottom;
}

/*text-indent*/
p.ti-0 {
	text-indent: 0px;
}
p.ti-20 {
	text-indent: 20px;
}

/*white-space*/
p.ws-normal {
	white-space: normal;
}
p.ws-pre {
	white-space: pre;
}
p.ws-nowrap {
	white-space: nowrap;
}

/*text-decoration*/
p.td-none {
	text-decoration: none;
}
p.td-ul {
	text-decoration: underline;
}
p.td-ol {
	text-decoration: overline;
}
p.td-lt {
	text-decoration: line-through;
}


/*
Defining Colors and Backgrounds
===============================
*/

/*defining-colors*/
p.dc-word {
	color: blue;
}
p.dc-hex {
	color: #0000FF;
}
p.dc-rgb {
	color: rgb(0, 0, 255);
}

/*background-color*/
p.bgc-hex {
	width: 200px;
	height: 50px;
	margin-bottom:10px;
	background-color:#999999;
}
p.bgi-none {
	background-image:none;
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
}

/*background-image*/
p.bgi-urlbasic {
	color: white;
	background-image:url(http://placekitten.com/g/50/50);
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
}

/*background-repeat*/
p.bgr-repeat {
	color: black;
	background-image:url(http://placekitten.com/g/50/50);
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
	background-repeat: repeat;
}
p.bgr-repeat-x {
	color: black;
	background-image:url(http://placekitten.com/g/50/50);
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
	background-repeat: repeat-x;
}
p.bgr-repeat-y {
	color: black;
	background-image:url(http://placekitten.com/g/50/50);
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
	background-repeat: repeat-y;
}
p.bgr-no-repeat {
	color: black;
	background-image:url(http://placekitten.com/g/50/50);
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
	background-repeat: no-repeat;
}


p.bgp-rtop {
	background-image:url(http://placekitten.com/g/50/50);
	background-repeat:no-repeat;
	background-position:right top;
	width:200px;
	height:200px;
	margin-bottom:10px;
	border:1px solid black;
}






